{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Productos</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:bold,medium,light">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

</head>

<body>


    <div>

        {% for nombre, precio, estado, id in products %}
        <div>
            {{nombre}}<br>
            $ {{precio}}<br>
            Madurez: {{estado}}/5.0<br>

            <form autocomplete="off" method="POST" action="apartar">
                {% csrf_token %}
                <input type="hidden" name="prod_id" value="{{id}}">
                <input type="submit" value="Apartar" id="sumbit_apartado">
            </form>

        </div>
        {% endfor %}

    </div>


    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>

</body>

</html>